.post-card {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 380px;

  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-15px);

    .post-card__button {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__image img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  &__excerpt {
    font-size: 20px;
    color: var(--black-color);
    line-height: 120%;
  }

  &__actions {
    padding-top: 12px;
    display: flex;
    justify-content: flex-start;
  }

  &__button {
    font-size: 20px;
    color: var(--purple-color);
    line-height: 120%;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}

@media (max-width: 768px) {
  .post-card {
    min-height: auto;

    &__excerpt {
      font-size: 16px;
    }

    &__button {
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .post-card {
    &__excerpt {
      font-size: 14px;
    }

    &__button {
      font-size: 14px;
    }
  }
}
