.skeleton {
  background: var(--white-color);
  overflow: hidden;
  position: relative;

  &--animated::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(240, 240, 240, 0.8),
      transparent
    );
    animation: skeleton-loading 1.5s infinite;
  }
  &--circle {
    border-radius: 50%;
  }

  &__line {
    background: var(--gray-200);
    border-radius: 4px;
  }

  @keyframes skeleton-loading {
    100% {
      transform: translateX(100%);
    }
  }
}

@media (max-width: 768px) {
  .skeleton {
    &__line {
      height: 14px;
    }
  }
}

@media (max-width: 480px) {
  .skeleton {
    &__line {
      height: 12px;
    }
  }
}
