.post-detail-page {
  min-height: calc(100vh - 200px);
  padding-block: 120px 140px;
  padding-inline: 112px;

  &__header {
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: 84px;
    margin: 0 0 1rem 0;
    color: var(--black-color);
    line-height: 100%;
    font-weight: 400;
  }

  &__image {
    margin-top: 74px;

    img {
      width: 100%;
      height: auto;
      max-height: 700px;
      margin: 1.5rem 0;
      object-fit: cover;
    }
  }

  &__content {
    margin-top: 80px;

    &-title {
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
    }
  }

  &__body {
    margin-top: 32px;
    max-width: 695px;
    font-size: 36px;
    line-height: 124%;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .post-detail-page {
    padding-block: 60px 80px;
    padding-inline: 20px;

    &__title {
      font-size: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .post-detail-page {
    padding-block: 60px 80px;
    padding-inline: 20px;

    .post-detail__title {
      font-size: 2rem;
    }
  }
}

@media (max-width: 480px) {
  .post-detail-page {
    min-height: calc(100vh - 500px);
    padding-block: 40px 60px;
    padding-inline: 15px;

    &__title {
      font-size: 1.75rem;
    }

    &__body {
      font-size: 1rem;
      line-height: 1.6;
    }
  }
}
